.admin{
    padding-top: 180px;
    
    &-card{
        background-color: #fff;
        height: 450px;
        padding: 35px 20px;
        @include flex(start, center);
        flex-direction: column;
        gap: 20px;
        width: 350px;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    &-input{
        outline: none;
        padding: 5px 6px;
        width: 270px;
        outline: none;

        ::placeholder{
            font-size: 19px;
        }
    }

    &-items{
        @include flex(center, space-between);
        gap: 30px;
    }

    &-btn{
        border: 1px solid #FFD700;
        font-size: 16px;
        padding: 4px 6px;
    }

    &-modal{
        position: fixed;
        z-index: 9999999999999999999;
        top: 0;
        left: 0;
        // top: 0;
        @include flex(center, center);
        width: 100%;
        height: 100%;
        margin: 0 auto;
        transform: translateX(-100%);
        transition: all 0.2s ease-in-out;
    }

    &-modal_content{
        width: 550px;
        background-color: white;
        padding: 30px;
        z-index: 999999999999999999999999999999;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 4px;
        position: fixed;

    }

    &-bg{
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(3px);
    }

    &-modal_items{
        @include flex(start, center);
        flex-direction: column;
        gap: 30px;
    }
}

.admin-modal.show{
    transform: translateX(0);
}