.products{
    padding-top: 130px;
    padding-bottom: 100px;
    &-img{
        width: 230px;
        margin: 0 auto;
    }

    &-name{
        color: #000;
        font-size: 19.531px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.41px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    &-price{
        color: #000;
        font-size: 14.25px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; 
        letter-spacing: 0.41px;
        margin-bottom: 15px;
    }

    &-card{
        background-color: #fff;
        height: 450px;
        padding: 35px 20px;
        @include flex(start, center);
        flex-direction: column;
        width: 100%;
        border-radius: 5px;
        line-height: 50px
    }

    &-content{
        @include flex(center, center);
        gap: 40px;
        flex-wrap: wrap;
    }

    &-backet{
        border: none;
        width: 100%;
        border: 2px solid #FFD700;
        padding: 10px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        transition: all 0.2s ease-in-out;

        &:hover{
            background-color: #FFD700;
        }
    }

   

    &-title{
        color: #000;
        font-size: 37.969px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 126.42% */
        letter-spacing: 0.41px;
        padding-bottom: 15px;
    }

    &-description{
        color: #000;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px; /* 126.42% */
        letter-spacing: 0.41px;
        padding-bottom: 15px;
    }

}